.create{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;

}

.create-form{
    display: flex;
    flex-direction: column;
}

.create-form label{
    display: flex;
    flex-direction: column;
}
