#home{
    display: grid;
    height:100%;    
    grid-template-columns: 300px  auto;
    grid-template-rows: auto 3.5rem;
    grid-template-areas:
    "sidemenu content"
    "footer footer";
    justify-content:stretch;
    align-content: stretch;
}

.content{
    position:relative;
    grid-area: content;
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-y: auto;
}

.edit-call{
    display: flex;
    flex-direction: column;
}

.inputs label{
    display: flex;
    flex-direction: column;
}
.inputs p{
    margin: 0.5rem 0;
}

input.edit-user{
    width: 100%;
}

.edit-call{
    display: flex;
    flex-direction: column;
}

button.add-client{
    width:5rem;
    margin-top:0.2rem;
    margin-left: auto;
}

.calls{
    display: flex;
    flex-direction: column;
}

.calls h2{
    margin:0.2rem 10px;
}

