.edit-call{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.edit-call-form{
    width:320px;
}

.edit-call-form div.inputs{
    width: 100%;
}
.edit-user{
    display: flex;
    flex-direction: column;
}